---
import Layout from "../layouts/Layout.astro";

import SectionTypes from "../components/home/SectionTypes.astro";
---

<Layout title="✨DforV | Descripciones creada con AI para vender💸">
  <div>
    <main class="container mx-auto">
      <div class="content mx-auto">
        <h1
          class="mb-4 font-extrabold sm:leading-10 tracking-tight text-white text-3xl md:text-5xl lg:text-6xl"
        >
          ✨ Utiliza nuestras herramientas para
          <mark class="px-2 text-white bg-blue-600 rounded dark:bg-blue-500"
            >mejorar</mark
          >

           tu contenido y
          <mark class="px-2 text-white bg-blue-600 rounded dark:bg-blue-500">
            aumentar</mark
          >
           tus ventas💸
        </h1>
        <p
          class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400"
        >
          Totalmente gratis
        </p>
        <SectionTypes />
      </div>
    </main>
  </div>
</Layout>

<style>
  main {
    width: 100%;
    text-align: center;
  }

  .content {
    width: 80%;
    padding-top: 4em;
  }

  .content-ai {
    width: 60%;
  }

  @media screen and (max-width: 800px) {
    .content {
      width: 100%;
      padding: 0.5em;
    }

    .content-ai {
      width: 100%;
      padding: 1em;
    }

    textarea {
      width: 100%;
    }
    input[type="text"],
    textarea {
      font-size: 1em;
    }
  }
</style>
