---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Form from "../components/Form";
---

<Layout title="Ventas Descripciones">
  <div>
    <Header />
    <main class="container mx-auto">
      <div class="content mx-auto">
        <h1
          class="mb-4 font-extrabold sm:leading-4 leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl"
        >
          Genera descripciones
          <mark class="px-2 text-white bg-blue-600 rounded dark:bg-blue-500"
            >atractivas</mark
          >
           para vender tus productos
        </h1>
        <p
          class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400"
        >
          Totalmente gratis
        </p>

        <div class="content-ai md:mx-auto sm:mx-0">
          <Form client:load />
        </div>
      </div>
    </main>
  </div>
</Layout>

<style>
  main {
    width: 100%;
    text-align: center;
  }
  .content {
    width: 80%;
    padding-top: 4em;
  }
  h1 {
    color: white;
    font-size: 3em;
    font-weight: bold;
  }

  .content-ai {
    width: 60%;
  }

  @media screen and (max-width: 800px) {
    .content {
      width: 100%;
      padding: 0.5em;
    }

    .content-ai {
      width: 100%;
      padding: 1em;
    }

    textarea {
      width: 100%;
    }
  }
</style>
