---
interface Props {
  colorHeader?: string;
}

const { colorHeader } = Astro.props;
---

<div class="header container mx-auto">
  <div class="flex flex-row justify-center items-center">
    <div class="basis-6/12 intrologo px-4">
      <h1>🏷️ DforV</h1>
    </div>
    <div class="text-right basis-6/12 px-4">
      <a
        href="https://github.com/robertfrontend/DforV-AI"
        target="_blank"
        class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400"
      >
        Github
      </a>
    </div>
  </div>
  <hr class="h-px my-2 bg-gray-800 border-0 dark:bg-gray-700" />
</div>

<style define:vars={{ colorHeader }}>
  .header {
    padding-top: 1em;
    background-color: var(--colorHeader);
  }
  .intrologo h1 {
    font-size: 2em;
    font-weight: bold;
    color: white;
  }
</style>
