---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div>
  <header>
    <div class="icon-close">
      <a href="/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3"></path>
        </svg>
      </a>
    </div>
    <div class="title">
      <a href="/">
        <!-- <h2
          class="mb-4 font-normal sm:leading-10 tracking-tight text-white text-1xl"
        >
          Volver atrás
        </h2> -->
      </a>
    </div>
  </header>

  <div class="content">
    <slot name="icon-svg" />
    <h1
      class="mb-4 font-extrabold sm:leading-10 tracking-tight text-white text-3xl md:text-5xl lg:text-6xl"
    >
      <mark class="px-2 text-white bg-blue-600 rounded dark:bg-blue-500">
        {title}
      </mark>
    </h1>

    <div class="md:container mx-auto px-0 md:px-20 lg:px-36 pt-5">
      <h1
        class="mb-4 font-normal sm:leading-4 leading-none tracking-tight text-white text-2xl md:text-4xl lg:text-5xl"
        slot="subtitle"
      >
        <slot name="subtitle" />
      </h1>
    </div>
  </div>
</div>

<style>
  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1em;
  }
  .icon-close {
    padding: 0 1em;
  }
  .title {
  }

  .content {
    text-align: center;
    padding: 0 1em;
    /* padding-right: 10em; */
  }
</style>
