---
import Header from "./Header.astro";

import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  colorHeader?: string;
}

const { title, colorHeader } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover"
    />
    <meta name="description" content="Astro description" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <ViewTransitions />
    <Header colorHeader={colorHeader} />

    <div class="main-content">
      <div class="container mx-auto sm:px-2 md:px-8">
        <slot />
      </div>
    </div>
    <!-- <Analytics /> -->
  </body>
</html>
<style is:global>
  /* :root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
	} */
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
    color: white;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  .main-content {
    padding-top: 1em;
  }
</style>
